body{
    font-family: verdana ;
}*{
    margin: 0;
    padding:0;
}
header,footer{
    position: absolute;
    background-color: black;
    width:100%;
    color:white;
}
header h2{
    position: absolute;
    margin-top: 15px ;
    Left:2%;
}
header{
    height: 30vh;
    background-image: url("headers.jpg");
    background-repeat: no-repeat; 
    /* background-position: vw; */

}
footer{
    height: 45vh;
    bottom:0;
}
.nav{
   position: absolute;
   width:100%; 
}
.nav a{
    position: relative;
    Left:15%;
    top:20px;
    color:white;
    text-decoration: none;
    margin-right: 20px;
}
footer p{
    position: absolute;
    left:5%;
    bottom:20px;
    color:white;
}
footer p-1{
    position:absolute;
    left:20%;
}
footer p-2{
    position:absolute;
    left:40%;
}
footer p-3{
    position:absolute;
    left:60%;
}
footer p-4{
    position:absolute;
    left:80%;
}

.navv{
    position:absolute;
    width:100%;
}
.navv a{
    position: relative;
    Left:40%;
    bottom:-250px;
    color:white;
    text-decoration: none;
    margin-right: 10px;
}
header button {
    position: relative;
    top:20px;
    font-size:15px ;
    background-color:blue; 
    color:white;
    border-radius: 12px;
    left:70%;
    
}
.main-container{
display : flex;
justify-content: space-between;
}
.sec-container{
    position: relative;
    top: 32vh; 
}
header h1{
    position:relative;
    left:30%;
    top:32px;
}
header h3{
    position:relative;
    left:33%;
    top:34px;
}

.button-container{
  
    position: relative;
    top:40px;
    font-size:15px ;
    background-color:blue; 
    color:white;
    border-radius: 12px;
    left:25%;


}

#mySearch {
    width: 270%;
    padding: 11px;
    font-size: 18px;
    border-radius: 12px;
    
    border: 1px solid #ddd;
  }
  
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: red;
  }

  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  
